/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #1f2636;
  --ifm-navbar-link-color: var(--ifm-color-gray-100);
  --hero-background: #1f2636;
  --hero-title-background: linear-gradient(to right, #95c2e0 10%, #da864b 50%);
}

.navbar button {
  color: var(--ifm-color-gray-100);
}

.navbar button:hover {
  color: var(--ifm-menu-color-active);
}

.navbar-sidebar--show .menu__link {
  color: var(--ifm-color-gray-100);
}

.navbar-sidebar--show .menu__link--active {
  color: var(--ifm-menu-color-active);
}

.hero--primary {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--hero-background);
  border-radius: var(--ifm-global-radius);
}

.hero__title {
  background: var(--hero-title-background);
  width: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__subtitle {
  color: white;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --hero-background: #313847;
  --hero-title-background: linear-gradient(to right, #c2858d 10%, #79b1b8 50%);
}

/* Match blog post widths with docs widths */
@media (min-width: 997px) {
  .blog-post-page .row .col.col--3 {
    max-width: 18%;
  }

  .blog-post-page .row .col.col--7 {
    max-width: 65.33333%;
  }

  .blog-post-page .row .col.col--2 {
    max-width: 16.66667%;
  }
}
